label{
  font-weight: bold;
}
.Name{
  display: flex;
  flex-direction: column;
  border: #282c34 0.1rem solid;
  padding: 2rem;
  row-gap: 0.3rem;
  width: fit-content;
  height: fit-content;
  align-items: center;
}
