.container {
    width: 100vw;
    height: 100vh;
    background-color: aqua;


}

.mother {

    display: flex;
    flex-direction: row;
    margin: auto;

}

h1{
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 12rem;

}
